__pycache__/
*.py[cod]
*.class

# environments
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# local data (database files, uploads)
data/uploads/
data/pdfs/
data/minio_data/
mysql_data/
milvus_data/
etcd_data/
minio_data/
redis_data/
volumes/
# OS
.DS_Store

models/